
VITE_APPWRITE_URL = "https://sfo.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a5b7ab100304786bf24"
VITE_APPWRITE_DATABASE_ID="6a5b7cb400019941342b"
VITE_APPWRITE_COLLECTION_ID="articals"
VITE_APPWRITE_BUCKET_ID="6a5b82e5000b9a5a0c83"
